#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px;
}
.card {
  width: 190px;
  background: white;
  padding: 0.4em;
  border: 1px solid peachpuff;
  border-radius: 6px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

img {
  width: 150px;
}
